* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header .heading {
  font-size: 30px;
}


header {
  width: 90%;
  padding: 20px 0;
  margin:  0 auto;
  text-align: center;
}

.nav-list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.main-1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.main-2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.main-3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.main-4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.main-5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.main-6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.main-7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.main-8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.main-9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.main-10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.main-11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.main-12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}
footer {
  width: 100%;
  height: 120px;
  text-align:center;
  line-height: 120px;
  background-color: #848282;
}
.footer-text {
  color: #fff;
}